node_modules/
client/node_modules/
client/build/
.env
*.db
*.log
.DS_Store
server/uploads/
certs/*.pem
kids/Alayna/Father.jpg
kids/Alayna/Kid.jpg
kids/Alayna/Mother.jpg
kids/ayesha/Father.jpg
kids/ayesha/kid.jpg
kids/ayesha/Mother.jpg
.gitignore
kids/Mujtaba/Father.jpg
kids/Mujtaba/Mother.jpg
kids/Mujtaba/Mujtaba.jpg
kids/Muntaha/Father.jpg
kids/Muntaha/Kid.jpg
kids/Muntaha/Mother.jpg
kids/Sahal/driver.jpg
kids/Sahal/father.jpg
kids/Sahal/Kid.jpg
kids/Sahal/mother.jpg
kids/Taimoor/Father.png
kids/Taimoor/kid.png
kids/Taimoor/Mother.jpg
kids/Umar/Father.jpg
kids/Umar/Mother.jpg
kids/Umar/Picture13.jpg
kids/Yazdan/father.jpg
kids/Yazdan/kid.jpg
kids/Yazdan/mother.jpg
kids/zaram/Father.jpg
kids/zaram/kid.jpg
kids/zaram/Mother.jpg
